<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 목록</title>
    <!-- 부트스트랩 CSS 링크 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">게시판 목록</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <!-- 여기에 반복문을 통해 게시글 목록을 불러올 수 있습니다. -->
        <tr>
            <th scope="row">1</th>
            <td><a href="#">게시글 제목 예시</a></td>
            <td>작성자</td>
            <td>YYYY-MM-DD</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><a href="#">게시글 제목 예시</a></td>
            <td>작성자</td>
            <td>YYYY-MM-DD</td>
        </tr>
        <!-- 반복문 끝 -->
        </tbody>
    </table>
</div>
<!-- 부트스트랩 JS 및 Popper.js, jQuery 스크립트 링크 -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
